@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background: #eee;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/carretera.jpg");
    background-repeat: no-repeat;
    z-index: -1;
}

body:before {
    position: absolute;
    z-index: -1;
    height: 20%;
    width: 20%;
    background-size: auto;
}

h1,
h6 {
    font-weight: bold;
}

#divtable {
    position: relative;
    float: left;
    text-align: center;
    /* border: 1px solid black;*/
}

#carrera {
    margin-top: 15px;
}

.btn {
    position: relative;
    background: transparent;
    border-radius: 6px;
    font-weight: 900;
    border: 3px solid black;
    width: fit-content;
    height: 40px;
}

.cabecera {
    text-align: center;
}

.box {
    position: relative;
    margin-left: 0px;
    width: 75px;
    height: 55px;
    background: transparent;
    /*display: none;*/
    z-index: +1000;
}

#button1,
#button2 {
    float: left;
    margin-left: 2px;
}

#reiniciar {
    /*visibility: hidden; asi no funciona si le aplico show después*/
    display: none;
    /*Asi si*/
    color: tomato;
    border: 3px solid tomato;
    background: transparent;
    border-radius: 6px;
    font-weight: 900;
}

thead,
#reiniciar:hover {
    background: tomato;
    color: #eee;
    text-decoration: none;
}

#iniciar {
    /*visibility: hidden; asi no funciona si le aplico show después*/
    /*display: none;*/
    color: rgb(4, 95, 47);
    border: 3px solid rgb(4, 95, 47);
}

#iniciar:hover {
    background: rgb(4, 95, 47);
    color: #eee;
}

#control {
    /* border: 1px solid black;*/
    text-align: center;
    display: inline-flexbox;
    width: 100%;
}

table {
    border: 5px solid tomato;
    width: 30%;
    padding: 1px 0px;
    margin-top: 23px;
    display: none;
    text-align: center;
    max-width: fit-content;
    max-height: min-content;
    margin-left: 10px;
    background: #eee;
    font-size: 0.9em;
    font-weight: bold;
}